/*
########################################
 (c)2017 CREDIT INFO
########################################

 @CSS Document;

 Author: Savin Cristian
 Author-email: savin.cristian95@icloud.com
 Start Date: 02. 06. 2017
 Finish Date: 06. 06. 2017

*/



/*
    Custom marin top & bottom classes
*/
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt55{margin-top:55px!important}
.mt60{margin-top:60px!important}
.mt65{margin-top:65px!important}
.mt70{margin-top:70px!important}
.mt75{margin-top:75px!important}
.mt80{margin-top:80px!important}
.mt85{margin-top:85px!important}
.mt90{margin-top:90px!important}

.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.mb65{margin-bottom:65px!important}
.mb70{margin-bottom:70px!important}
.mb75{margin-bottom:75px!important}
.mb80{margin-bottom:80px!important}
.mb85{margin-bottom:85px!important}
.mb90{margin-bottom:90px!important}



/* FONTS */
/* This stylesheet generated by Transfonter (https://transfonter.org) on June 2, 2017 12:26 PM */

@font-face {
    font-family: 'Futura PT Cond Book';
    src: url('../fonts/FuturaPT/FuturaPTCond-BookObl.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-BookObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-BookObl.svg#FuturaPTCond-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Futura PT Light';
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Light.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Light.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Light.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Light.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBold.svg#FuturaPTCond-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Book.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Book.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Book.svg#FuturaPT-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Bold';
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Bold.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Bold.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Bold.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Bold.svg#FuturaPT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Bold Oblick';
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-BoldObl.svg#FuturaPT-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Cond';
    src: url('../fonts/FuturaPT/FuturaPTCond-BoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-BoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-BoldObl.svg#FuturaPTCond-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Heavy Oblick';
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-HeavyObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-HeavyObl.svg#FuturaPT-HeavyObl') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT Medium Oblick';
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-MediumObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-MediumObl.svg#FuturaPT-MediumObl') format('svg');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Futura PT Cond Extra';
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot');
    src: url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPTCond-ExtraBoldObl.svg#FuturaPTCond-ExtraBoldObl') format('svg');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'Futura PT Medium';
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Medium.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Medium.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Medium.svg#FuturaPT-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Demi';
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Demi.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Demi.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Demi.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Demi.svg#FuturaPT-Demi') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot');
    src: url('../fonts/FuturaPT/FuturaPT-BookObl.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-BookObl.svg#FuturaPT-BookObl') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/FuturaPT/FuturaPT-Light_1.eot');
    src: url('../fonts/FuturaPT/FuturaPT-Light_1.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.woff2') format('woff2'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.woff') format('woff'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.ttf') format('truetype'),
    url('../fonts/FuturaPT/FuturaPT-Light_1.svg#FuturaPT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}




body{
    font-family: 'Open Sans', sans-serif;
}
.top-header{
    background-color: #ecedef;
}
.top-header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.top-header ul li{
    display: inline-block;
}
.top-header ul li a{
    font-weight: 300;
    font-size: 13px;
    color: #323232;
    display: block;
    padding: 17px 10px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.top-header ul li a:hover{
    color: #e3210d;
    text-decoration: none;
}
.news-btn{
    margin-right: 30px;
    padding: 9px 34px 9px 34px;
}
.oferts-btn{
    padding: 9px 34px 9px 0;
}

.news-btn,
.oferts-btn{
    display: inline-block;
}
.news-btn svg,
.oferts-btn svg{
    width: 30px;
    height: 30px;
}
.news-btn .text,
.oferts-btn .text{
    position: relative;
    top: -9px;
    margin: 0;
}
.news-and-ofercts-btn a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.news-and-ofercts-btn a:hover{
    text-decoration: none;
    color: #e3210d;
}

.logo{
    padding: 40px 0 0 0;
}
.bottom-header{
    padding: 10px 0;
}
.bottom-header .border-bottom{
    height: 2px;
    background-color: #ecedef;
}
.page-navigation{
    padding: 40px 0 0 0;
}
.page-navigation svg{
    width: 50px;
    height: 50px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.page-navigation a:hover svg{
    fill: #e3210d;
}
a .big-red-text{
    font-size: 20px;
    font-weight: 900;
    color: #e3210d;
}
a .small-black-text{
    font-size: 13px;
    font-weight: bold;
    color: #323232;
}
.top-nav{
    border-bottom: 9px solid  #ecedef;
}
.bottom-navigation{
    padding-top: 20px;
}
.bottom-navigation a{
    width: 100%;
    max-width: 217px;
    font-size: 15px;
    font-weight: 300;
    color: #323232;
    padding: 16px 0;
    text-align: center;
    background-color: #ecedef;
    display: block;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.bottom-navigation a:hover{
    text-decoration: none;
    background-color: #e3210d;
    color: #fff;
}
.all-contacts{
    border-left: 2px solid #e1e3e4;
    padding: 0 26px;
}
.box{
    border-bottom: 2px solid #e1e3e4;
    margin-bottom: 5px;
    padding: 9px 0;
}
.box .big-text{
    font-family: Tahoma, sans-serif;
    font-size: 18px;
    color: #414141;
}
.box .small-text{
    font-family: Tahoma , sans-serif;
    font-size: 9px;
    color: #414141;
}
.write-now a{
    font-family: Tahoma, sans-serif;
    font-size: 12px;
    color: #414141;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.write-now a:hover{
    text-decoration: none;
    color: #e3210d;
}

.box.socio-link{
    border: none;
}
.box.socio-link ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.box.socio-link ul li{
    display: inline-block;
    margin: 0 2px;
}
.box.socio-link ul li a{
    padding: 0;
    display: block;
    border-bottom: 3px solid transparent;
}
.box.socio-link ul li a img{
    width: 17px;
    height: 17px;
}
.box.socio-link ul li a:hover{
    text-decoration: none;
    border-color: #e3210d;
}


.product-range{
    background: url("../images/gama-produse-bg.png") 0 0 no-repeat;
    padding: 35px 0;
    background-size: cover;
}
.middle-box a{
    width: 150px;
    height: 114px;
    background-color: #e3210d;
    border: solid 3px #ffffff;
    display: block;
    float: right;
    margin: 0 14px;
    font-family: Tahoma , sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.middle-box a:hover{
    text-decoration: none;
    background: #fff;
    border-color: #e3210d;
    color: #e3210d;
}
.title-gama-box{
    font-family: Tahoma , sans-serif;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}
.range-list span{
    margin-right: 2px;
}
.range-list ul{
    list-style-type: none;
    background: #fff;
    padding: 30px 32px;
}
.range-list ul li{
    margin-bottom: 10px;
    font-family: Tahoma , sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #323232;
}
.title{
    font-family: Tahoma , sans-serif;
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
    color: #3a3f42;

}
.year{
    text-align: center;
}
.year .big-text{
    font-family: Tahoma , sans-serif;
    font-size: 226px;
    color: #4a4d4e;
    display: inline-block;
    line-height: 1;
}
.year .small-text{
    font-family: Tahoma , sans-serif;
    font-size: 47px;
    color: #4a4d4e;
    display: inline-block;
}
.another-text{
    font-family: Tahoma , sans-serif;
    font-size: 23px;
    color: #4a4d4e;
    text-align: center;
}
span.red-text{
    font-family: Tahoma , sans-serif;
    font-size: 18px;
    color: #ff0000;
}
.box .small-title{
    font-family: Tahoma , sans-serif;
    font-size: 23px;
    color: #4a4d4e;
}
.box .description{
    font-family: Tahoma , sans-serif;
    font-size: 15px;
    color: #4a4d4e;
}
.simple-text{
    padding: 43px 0;
}
.benefits .box{
    margin: 30px 0;
}
.our-recomandation{
    padding: 65px 0;
}
.recomandation-box{
    padding: 10px 40px 150px 40px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 4px 38px 0 rgba(0, 1, 6, 0.1);
    border-top: 11px solid transparent;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    margin-bottom: 30px;
    position: relative;
}
.recomandation-box:hover{
    border-color: #e3210d;
}
.recomandation-box .type-products {
    text-align: left;
    margin-top: -10px;
    font-family: Tahoma , sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #7b7b7b;
}
.title-glass{
    font-family: Tahoma , sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #313131;
}
.recomandation-box .price, .box .main-price{
    font-family: Tahoma , sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #e3210d;
}
.recomandation-box .price sup{
    font-size: 16px;
}
.btn-primary.buy-now{
    width: 76%;
    display: block;
    padding: 25px 0;
    background: #fff;
    font-family: Tahoma ,sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #e3210d;
    border: solid 1px #e3210d;
    margin-top: 20px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -38%;
}
.btn-primary.buy-now:hover{
    background-color: #e3210d;
    border: solid 1px #e3210d;
    color: #fff;
    text-decoration: none;
}


.news{
    background-color: #f9f9f9;
    padding: 40px 0;
}


.title-news-box{
    font-family: OpenSans , sans-serif;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #969595;
}
.news-box{
    padding: 5px 10px 90px 10px;
    position: relative;
    margin-bottom: 30px;
}
.date-of-publishing{
    font-family: OpenSans , sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #969595;
}
.news-box .description{
    font-family: OpenSans ,sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    color: #969595;
    margin-top: 30px;
}
a.btn-primary.view-more{
    display: block;
    width: 188px;
    padding: 15px 0;
    border: solid 1px #e3210d;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    background: #fff;
    color: #e3210d;
    margin-left: -99px;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: Tahoma ,sans-serif;
    font-size: 13.9px;
    font-weight: bold;
}
a.btn-primary.view-more:hover{
    background-color: #e3210d;
    text-decoration: none;
    font-family: Tahoma , sans-serif;
    font-weight: bold;
    color: #fff;
}
.seo{
    padding-bottom: 40px;
}
.seo-description{
    font-family: Tahoma , sans-serif;
    font-size: 13px;
    color: #3a3f42;
}
.seo-description div{
    margin-bottom: 10px;
}
.footer-nav{
    padding: 40px 0;
    background-color: #505153;
}
.footer-nav ul{
    list-style-type: none;
    padding: 0;
}
.footer-nav ul li a{
    font-family: OpenSans,sans-serif;
    font-size: 13px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: normal;
    color: #ffffff;
}
.footer-nav .logo{
    padding: 10px 0;
}
.footer-nav .all-contacts .big-text,
.footer-nav .all-contacts .small-text{
    color: #fff;
}
.footer-nav .box.write-now a{
    color: #fff;
}
.footer-nav a{
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.footer-nav a:hover{
    text-decoration: none;
    color: #e3210d;
}
.copyright-box{
    background-color: #38393b;
    padding: 20px 0;
    font-family: OpenSans ,sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.85;
    color: #77797d;
}
.copyright-box a{
    font-family: OpenSans , sans-serif;
    font-size: 13px;
    font-weight: 600;
    line-height: 1.85;
    color: #77797d;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.copyright-box a:hover{
    text-decoration: none;
    color: #e3210d;
}




/* CONFIGURATOR PAGE */

.form-panel-header{
    padding: 17px 0 17px 19px;
    background-color: #323232;
    font-family: "Futura PT Bold" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}
.form-panel-header .info{
    font-family: "Futura PT Book" , sans-serif;
    font-size: 14px;
    color: #ffffff;
}
.form-panel-content{
    padding: 30px 0 50px 0;
}
.form-panel-content input[type="radio"]{
    display: none;
}
.form-panel-content input[type="radio"]:checked + label{
    background-color: #fffbfb;
    border-color: #e3210d;
}
.form-panel-content label{
    padding: 0 20px;
}
.panel-input{
    border: solid 1px #f1f1f1;
    text-align: center;
}
.btn-primary.price{
    background-color: #ffffff;
    border: 1px solid #e3210d;
    font-family: "Futura PT-Demi" ,sans-serif;
    font-size: 19.7px;
    line-height: 0.81;
    text-align: center;
    color: #444444;
    display: inline-block;
    padding: 15px 30px;
    margin-bottom: 20px;
}
.form-panel-content label:hover{
    cursor: pointer;
}
.form-panel-content input[type="radio"]:checked + label .btn-primary.price{
    background-color: #e3210d;
    border: solid 1px #838d8f;
    font-family: "Futura PT-Demi" ,  sans-serif;
    font-size: 19.7px;
    line-height: 0.81;
    text-align: center;
    color: #ffffff;
}
.form-panel-content .material{
    font-family: "Futura PT Light" , sans-serif;
    font-size: 19.7px;
    font-weight: 500;
    line-height: 1.12;
    text-align: center;
    color: #444444;
    margin: 10px 0;
}
.panel-input{
    width: 100%;
    display: inline-block;
}
.form-panel-content label ul{
    list-style-type: none;
    text-align: left;
    padding: 0;
}
.form-panel-content label li{
    font-family: "Futura PT Book" ,sans-serif;
    font-size: 13.5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
}
.form-panel-content label li span{
    color: #2e928a;
}
.btn-primary.select-or-selected{
    background-color: #ffffff;
    border: solid 1px #838d8f;
    font-family: "Futura PT Demi" , sans-serif;
    font-size: 19.7px;
    line-height: 0.81;
    text-align: center;
    color: #444444;
    padding: 15px 0;
    width: 100%;
    margin: 15px 0;
    position: absolute;
    bottom: 10px;
    display: block;
}
label.type-glass img{
    margin-bottom: 90px;
}
label.type-glass .btn-primary.select-or-selected,
label.piese .btn-primary.select-or-selected,
label.color .btn-primary.select-or-selected,
label.profil .btn-primary.select-or-selected{
    max-width: 60%;
    bottom: 35px;
    left: 50%;
    margin-left: -30%;
}
label.profil,
label.color{
    padding-bottom: 90px;
}
.form-panel-content label.piese img{
    margin-bottom: 90px;
}
.form-panel-content input[type="radio"]:checked + label span.hidden-after-select{
    display: none;
}
.form-panel-content input[type="radio"]:checked + label .btn-primary.select-or-selected{
    background-color: #e3210d;
    border: solid 1px #838d8f;
    color: #fff;
}
.form-panel-content input[type="radio"]:checked + label .btn-primary.select-or-selected:before{
    content: "selectat";
}
.form-panel-content .panel-input{
    margin-bottom: 30px;
}



.title-panel{
    font-size: 20px;
    font-weight: 900;
}

.input-group .form-control {
    background-color: #eee;
}

.input-group-addon{
    background-color: #e3210d;
    font-family: "FuturaPT-Demi" , sans-serif;
    font-size: 12.7px;
    line-height: 0.81;
    text-align: center;
    color: #ffffff;
    border: none;
}
.input-group .form-control{
    max-width: 230px;
    width: 100%;
    padding: 18px 0;
    text-align: center;
    border: none;
    box-shadow: none;
}
.calculator{
    background-color: #ededed;
}
.top-panel{
    background: #323232;
    height: 94px;
    padding: 10px 0 0 20px;
    color: #fff;
}
.calculator .size-glass{
    text-align: center;
}
.calculator .size-glass input{
    width: 100%;
    padding: 5px 0;
    background-color: #ffffff;
    border: solid 1px #838d8f;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.panel-content-padding{
    padding: 21px;
}
.input-group-text{
    font-family: "FuturaPT-Demi" , sans-serif;
    margin: 15px 0;
    font-size: 11.9px;
    line-height: 0.87;
    color: #444444;
}
.calculator-img{
    background: #fff;
    text-align: center;
    padding: 53px 0;
}
input:focus{
    outline: none;
    box-shadow: none;
}
.sum-calculator .price{
    font-family: "FuturaPT" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
    text-align: center;
}
.sum-calculator .price .big-text{
    font-size: 40px;
}
.impozit{
    font-family: "FuturaPT-Book" , sans-serif;
    font-size: 13px;
    text-align: center;
    color: #444444;
    margin-top: 15px;
}
.what-choose .material,
.what-choose  .culoare,
.what-choose  .specii{
    text-align: center;
    font-family: "Futura PT Bold" , sans-serif;
    font-size: 13px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #444444;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 8px 0 0 ;
}
.what-choose > div{
    margin: 10px 0;
}
.what-choose{
    padding: 0 0 0 25px;
}
.submit-form-details{
    text-align:  center;
    margin-top: 40px;
}
.submit-form-details button{
    display: inline-block;
    width: 236px;
    height: 89px;
    background-color: #e3210d;
    border: none;
    font-family: "FuturaPT-Demi" ,sans-serif;
    font-size: 19.7px;
    text-align: center;
    color: #ffffff;
}


.remove-padding-left{
    padding-left: 0 !important;
}
.remove-padding-right{
    padding-right: 0 !important;
}
.remove-padding{
    padding: 0 !important;
}
.red-bg{
    height: 94px;
    padding: 30px 0 0 0;
    background-color: #e3210d;
    text-align: center;
    color: #fff;
}




/* produse page */
.produs{
    padding: 40px 0;
}
.name-page{
    font-family: "OpenSans" , sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background: url("../images/produse-page.png") 50% 0 no-repeat;
    background-size: cover;
    height: 165px;
    padding: 60px 0;
}


.pagination li a{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 2.57;
    text-align: center;
    font-weight: 500;
    color: #959595;
    border: none;
    margin: 3px;
    display: inline-block;
    background-color: #f0f0f0;
}
.pagination li a:hover{
    color: #e3210d;
}
.pagination li a:active{
    color: #e3210d;
}

.news.white-bg{
    background: #fff;
}

.right-sidebar-title{
    background-color: #323232;
    font-family: "Tahoma" , sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 24px 0;
    margin-bottom: 20px;
}

.about-post{
    padding: 30px 0;
}
.about-post .description{
    padding: 0 100px;
}

.about-post .description .small-title{
    font-family: "OpenSans" , sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.85;
    letter-spacing: 0.5px;
    margin: 10px 0;
    color: #313131;
}
.about-post .description div{
    font-size: 13px;
    line-height: 1.38;
    letter-spacing: 0.6px;
    font-family: "OpenSans" , sans-serif;
    margin: 15px 0;
    color: #969595;
}

.date-of-publishing-post .title{
    font-family: "OpenSans" , sans-serif;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}
.date-of-publishing-post{
    margin-top: -190px;
    text-align: left;
    max-width: 700px;
}
.date-of-publishing-post .date{
    font-family: "OpenSans" , sans-serif;
    font-size: 15px;
    font-weight: normal;
    line-height: 3.0;
    letter-spacing: 0.6px;
    color: #969595;
}
.owl-thumb-item.active{
    border-color: red;
}
.owl-thumb-item{
    margin: 5px 17px;
    background: transparent;
    border: solid 1px rgba(192, 204, 211, 0.5);;
    width: 104.3px;
    height: 83px;
}
button:focus{
    outline: none;
}
.owl-thumb-item img{
    width: 100%;
    height: 100%;
}
.owl-carousel .owl-item img{
    max-height: 380px;
}

.about-products .recomandation-box{
    padding: 0;
    background: transparent;
    box-shadow: none;
    margin-bottom: 10px;
}


.about-products ul{
    list-style-type: none;
    padding: 10px 0;
}
.about-products ul li{
    margin: 5px;
    font-size: 11px;
    line-height: normal;
}
.about-products ul li span{
    color: #2e928a;
    margin-right: 5px;
    font-size: 11px;
    line-height: normal;
}
.about-products .input-group .form-control{
    background-color: #ffffff;
    border: solid 1px #f1f1f1;
    width: 50px;
    padding: 13px 0;
    text-align: center;
}
.about-products .description{
    font-family: 'Tahoma' , sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #969595;
}
.about-products .input-group{
    width: 40%;
}
.about-products  .submit-form-details button{
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.about-products  .submit-form-details button:hover{
    background: rgba(227, 33, 13, .5);
}

.tabs-section .nav-tabs{
    background-color: #f7f8f9;
}
.tabs-section .nav-tabs > li > a{
    font-family: "Tahoma"  , sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #969595;
    width: 135px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
}
.tabs-section .nav-tabs>li.active>a, .tabs-section .nav-tabs>li.active>a:focus, .tabs-section .nav-tabs>li.active>a:hover{
    border-top: 3px solid #e3210d;
    color: #e3210d;
}
.tabs-section .tab-content{
    padding: 30px 20px;
}
.tab-content .description{
    font-family: "Tahoma" , sans-serif;
    font-size: 13px;
    line-height: 1.54;
    color: #969595;
}
.tab-content .description div{
    margin: 15px 0;
}
.about-our{
    padding: 70px 0;
}
.info-about-our .title{
    text-align: center;
    color: #000;
}
.info-about-our{
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}
.info-about-our .description{
    color: #000;
    text-align: justify;
}
.info-about-our .description div{
    margin: 15px 0;
}
.info-about-our .buy-now{
    position: static !important;
    text-align: center;
    display: block;
    max-width: 280px;
    margin: 0 auto;
}


.contacts{
    background: url("../images/contacte-bg.png") 0 0 no-repeat;
    background-size: cover;
    padding: 250px 0;
}
.form-contacts .title{
    text-align: left;
    color: #fff;
}
.form-contacts label{
    width: 100%;
}
.form-contacts input{
    width: 100%;
    background-color: rgba(77, 72, 71 , .3);
    border: solid 1px rgba(221, 221, 221, 0.78);
    color: #fff;
    padding: 24px 0 24px 19px;
}
.form-contacts textarea{
    width: 100%;
    background-color: rgba(77, 72, 71 , .3);
    border: solid 1px rgba(221, 221, 221, 0.78);
    color: #fff;
    padding: 24px 0 90px 19px;

}
.form-contacts input::-webkit-input-placeholder {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}
.form-contacts input::-moz-placeholder          {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 19+ */
.form-contacts input:-moz-placeholder           {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 18- */
.form-contacts input:-ms-input-placeholder      {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}

.form-contacts textarea::-webkit-input-placeholder {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}
.form-contacts textarea::-moz-placeholder          {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 19+ */
.form-contacts textarea:-moz-placeholder           {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}/* Firefox 18- */
.form-contacts textarea:-ms-input-placeholder      {
    font-family: "Tahoma" , sans-serif;
    font-size: 16px;
    color: #ecf0f1;
}
.form-contacts .submit-form-details button{
    max-width: 280px;
    width: 100%;
    padding: 11px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    border: 2px solid transparent;
}
.form-contacts .submit-form-details button:hover{
    background: rgba(227,33, 13, .5);
    border-color: #fff;
}
.contacts .title{
    text-align: left;
    color: #fff;
}
.contacts .info{
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    line-height: 2.14;
    color: #ffffff;
}
.contacts ul{
    list-style-type: none;
    padding: 40px 0;
}
.contacts ul li {
    color: #fff;
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin: 10px 0;
}
.contacts ul li a{
    color: #fff;
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    margin: 10px 0;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.contacts ul li .fa{
    margin-right: 10px;
}
.contacts ul li a:hover{
    text-decoration: none;
    color: #e3210d;
}

.hide-header-nav a{
    font-size: 30px;
    color: #000;
    float: right;
    display: none;
}


.content-slider .title{
    font-family: "Tahoma" , sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
    text-align: left;
    padding: 0 0 0 10px;
}
.content-slider .description div{
    font-family: "Tahoma" , sans-serif;
    font-size: 14px;
    color: #000000;
    padding: 0 0 0 10px;
    text-align: justify;
    margin: 15px 0;
}
.content-slider .description .big-text{
    font-family: "Tahoma" , sans-serif;
    font-size: 196px;
    color: #4a4d4e;
    line-height: 0.8;
}
.content-slider .description .big-text sub{
    font-family: "Tahoma" , sans-serif;
    font-size: 24px;
    color: #4a4d4e;
    margin-left: -20px;
    top: -5px;
    position: relative;
}
.another-info{
    text-align: center;
    display: inline-block;
    float: right;
}
.another-info-box{
    font-family: "Tahoma" , sans-serif;
    font-size: 15px;
    color: #585c62;
    border-bottom: 1px dashed #c2c9cd;
    margin: 10px 0;
    padding-bottom: 8px;
}
.another-info-box span.depth{
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    background: #6b6c6c;
    border-radius: 5px;
    color: #fff;
    font-family: "Tahoma" , sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.more-detailes{
    display: inline-block;
    width: 181px;
    padding: 9px 0;
    background-color: #ecedef;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
    font-family: "Tahoma" , sans-serif;
    font-size: 15px;
    color: #4a4d4e;
}
.swiper-slide{
    padding: 50px 40px;
}
.more-detailes:hover{
    background: #e3210d;
    text-decoration: none;
}
.mobile-btn-info{
    text-align: center;
    margin: 40px 0 !important;
    display: none;
}
.mobile-btn-info a{
    text-transform: uppercase;
    display: inline-block;
    width: 181px;
    padding: 9px 0;
    background-color: #ecedef;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    font-family: "Tahoma" , sans-serif;
    font-size: 15px;
    color: #4a4d4e;
    text-align: center;
    border-radius: 5px;
    margin: 0 auto;
}
.mobile-btn-info a:hover{
    background: #e3210d;
    text-decoration: none;
}


@media (max-width: 1280px){
    .form-panel .col-md-9{
        width: 100%;
        text-align: center;
    }
    .form-panel .input-group{
        max-width: 370px;
        margin: 0 auto;
    }
    .form-panel .col-md-6{
        width: 100%;
    }
    .form-panel .col-md-6.remove-padding-left{
        padding-left: 15px !important;
    }
    .form-panel .col-md-6.remove-padding-right{
        padding-right: 15px !important;
    }
    .form-panel .col-md-6.remove-padding{
        padding: 15px !important;
    }
    .form-panel .col-md-3{
        width: 100%;
        text-align: center;
    }
    .sum-calculator{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .what-choose{
        padding-left: 0;
    }
    .form-panel .col-md-3.remove-padding-left{
        padding-left: 15px !important;
    }
    .recomandation-box .price{
        float: none !important;
        display: block;
    }
    .recomandation-box .title-glass{
        float: none !important;
        margin: 20px 0 10px 0;
    }
    .recomandation-box .type-products{
        text-align: center;
        margin: 10px 0;
    }
    .content-slider .description .big-text{
        font-size: 100px;
        margin-top: 40px;

    }

}
@media (max-width: 992px){
    .top-navigaion .col-md-6{
        text-align: center;
        margin: 10px 0;
    }
    .top-navigaion .col-md-9{
        text-align: center;
    }
    .all-contacts{
        border-left: none;
        text-align: center;
    }
    .product-range img{
        display: block;
        margin: 0 auto;
    }
    .product-range ul li img{
        display: inline-block;
    }
    .advantages{
        text-align: center;
    }
    .advantages img{
        display: block;
        margin: 0 auto;
    }
    .news-box{
        text-align: center;
    }
    .news-box img{
        display: block;
        margin: 0 auto;
    }
    .footer-nav .logo img{
        display: block;
        margin: 0  auto 20px auto;
    }
    .about-products .input-group{
        width: 18%;
        margin: 0 auto;
    }
    .page-navigation{
        display: none;
    }

    .hide-header-nav a{
        margin: 15px 0;
        display: block !important;
    }
    .top-slider .slider-img{
        display: none;
    }
    .top-slider .another-info{
        display: none;
    }
    .content-slider .description div{
        text-align: center;
    }
    .content-slider .title{
        text-align: center;
        padding: 0;
    }
    .content-slider .description{
        padding: 0 20px;
    }
    .mobile-btn-info{
        display: block !important;
    }
}
@media (max-width: 810px){

}
@media (max-width: 768px){
    .bottom-navigation a{
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
    .top-header .col-md-6{
        text-align: center;
    }
    .top-header ul li a{
        border: none;
    }
    .news-btn{
        border: none;
    }
    .oferts-btn{
        border: none;
    }
    .footer-nav-list{
        display: none;
    }
    .hide-footer-nav{
        display: block !important;
    }
    nav.pull-right{
        float: none !important;
        text-align: center;
    }
    .about-post .description{
        padding: 0 10px ;
    }
    .date-of-publishing-post{
        margin: 0;
    }
    .date-of-publishing-post .title{
        color: #969595;
    }
    .img-tabs img{
        display: block;
        margin: 10px auto;
    }
    .nav-tabs>li{
        display: block;
        float: none;
        width: 100%;
    }
    .tabs-section .nav-tabs > li > a{
        display: block;
        width: 100%;
    }
    .form-panel-content img{
        display: block;
        margin: 0 auto;
    }
    .recomandation-box{
        max-width: 500px;
        margin: 30px auto;
    }
    .content-slider .description .big-text{
        font-size: 60px;
        margin-top: 40px;
    }
    .content-slider .description .big-text sub{
        font-size: 20px;
        left: 10px;
    }
}
@media(max-width: 600px){

}

.footer-nav{
    position: relative;
}
.hide-footer-nav{
    display: none;
}
.hide-footer-nav a{
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 90px;
    z-index: 9;
}
.popover-footer{
    border-top:none!important;
}
.copover div{
    padding-left: 0!important;
    padding-right: 0!important;
}

.checkout-block-step {
    width: 18%;
    float: left;
    border: 1px solid #c8c8c8;
    color: #747474;
    padding: 10px 0 10px 15px;
    border-radius: 5px;
    margin-right: 1%;
}
.checkout-block-step.previous {
    background-color: #c8c8c8;
    border-color: #c8c8c8;
    color: #fff;
}
.checkout-block-step.active {
    background-color: #231f20;
    border-color: #231f20;
    color: #fff;
}
.checkout-step-circle.active {
    background-color: #fff;
    color: #747474;
}
.checkout-step-circle {
    background-color: #e3210d;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.owl-carousel .owl-item img{
    width: auto!important;
}

.cart-view .quantity-form .cart-item-info {
    min-height: 100px;
}

.add-price-label {
    text-align: center;
    height: 24px;
}

label.type-glass img {
    margin: 20px auto 90px auto;
}